[Desktop Entry]
Name=Ubuntu HTML5 Theme UI Gallery
Type=Application
Exec=xdg-open /usr/share/ubuntu-html5-theme/examples/ui-gallery/index.html
Icon=ubuntu
Terminal=false

