@import url("tabs.css");
@import url("text-input.css");

body {
	background: #ededf0;
	font-family: Ubuntu;
}

input, textarea, select {
	margin: 0;
}

div, ul, li, span, h2, h3 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 3px;
}

h2 {
	border-bottom: 1px solid #888;
	color: #333;
	font-size: 36px;
	font-weight: normal;
	margin-top: 30px;
	padding-bottom: 5px;
}

h3 {
	color: #333;
	font-weight: normal;
	margin: 20px 0;
}

#summary ul li {
	font-size: 12px;
	font-weight: bold;
}

#summary ul li ul li {
	margin-left: 10px;
	font-weight: normal;
}

.sample {
	display: inline;
	width: 500px;
}

.sample ul {
	margin: 20px 0;
}

.sample ul li:first-child {
	float: left;
	line-height: auto;
	width: 100px;
}
