Source: ubuntu-html5-theme
Section: misc
Priority: optional
Maintainer: Michael Hall <mhall119@ubuntu.com>
Build-Depends: cmake (>= 2.8.9),
               debhelper (>= 9),
               python (>= 2.7),
               python-setuptools,
               libqt5webkit5-dev,
               libqt5webkit5-qmlwebkitplugin,
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-ubuntu-ui-toolkit-plugin,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/ubuntu-html5-theme
# If you aren't a member of ~ubuntu-html5-theme-devs but need to upload packaging changes,
# just go ahead.  ~ubuntu-html5-theme-devs will notice and sync up the code again.
Vcs-Bzr: bzr+ssh://bazaar.launchpad.net/+branch/ubuntu-html5-theme/
Vcs-Browser: https://code.launchpad.net/~ubuntu-html5-theme-devs/ubuntu-html5-theme/ambiance

Package: ubuntu-html5-theme
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Description: Toolkit styles for Ubuntu HTML5 Apps
 This package provides common CSS and Javascript for developing native-
 looking HTML5 applications for Ubuntu

Package: ubuntu-html5-theme-examples
Architecture: all
Depends: ubuntu-html5-theme (= ${binary:Version}),
	 qmlscene,
         libjs-jquery,
         libqt5webkit5-qmlwebkitplugin,
         qtdeclarative5-qtquick2-plugin,
         ${misc:Depends},
Description: Examples for Toolkit styles for Ubuntu HTML5 Apps
 This package provides examples of native-looing HTML5 applications for Ubuntu
 based on the ubuntu-html5-theme CSS and Javascript Ubuntu framework.

Package: ubuntu-html5-theme-autopilot
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         dpkg-dev,
         libautopilot-qt,
         libjs-jquery,
         libqt5test5,
         libqt5webkit5-qmlwebkitplugin,
         qmlscene,
         qtdeclarative5-qtquick2-plugin,
         ubuntu-html5-theme (= ${binary:Version}),
         ubuntu-html5-theme-examples (= ${binary:Version}),
Description: Autopilot tests for the Toolkit for Ubuntu HTML5 Apps
 Common CSS and Javascript for developing native-looking HTML5 applications
 for Ubuntu. This package contains autopilot tests for it.

Package: ubuntu-html5-container
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         dpkg-dev,
         libqt5webkit5-qmlwebkitplugin,
         qtdeclarative5-cordova-2.8-plugin,
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-ubuntu-ui-extras-browser-plugin,
         qmlscene,
         ubuntu-html5-theme (= ${binary:Version}),
Description: Ubuntu HTML5 QML container component for HTML5 touch apps.
 This package contains the Ubuntu HTML5 QML component used to embed HTML5
 apps at runtime.

