Source: ubuntu-html5-theme
Section: misc
Priority: optional
Maintainer: Michael Hall <mhall119@ubuntu.com>
Build-Depends: cmake (>= 2.8.9),
               debhelper (>= 9),
               liboxideqt-qmlplugin (>= 1.2.0),
               python (>= 2.7),
               python-setuptools,
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-private-dev,
               qtdeclarative5-dev,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-ubuntu-ui-toolkit-plugin,
Standards-Version: 3.9.5
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Homepage: https://launchpad.net/ubuntu-html5-theme
Vcs-Bzr: lp:ubuntu-html5-theme
Vcs-Browser: https://code.launchpad.net/~ubuntu-html5-theme-devs/ubuntu-html5-theme/ambiance

Package: ubuntu-html5-sdk
Architecture: all
Depends: cordova-ubuntu-2.8,
         qtdeclarative5-cordova-2.8-plugin,
         qtdeclarative5-ubuntu-webapps-api,
         ubuntu-html5-container,
         ubuntu-html5-ui-toolkit,
Description: Ubuntu HTML5 SDK Metapackage
 This package depends on all components of the HTML5 app stack, allowing
 for easy installation of all necessary components.

Package: ubuntu-html5-ui-toolkit
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
Replaces: ubuntu-html5-theme (<< 0.1.1),
Conflicts: ubuntu-html5-theme (<< 0.1.1),
Provides: ubuntu-html5-theme,
Description: Toolkit for Ubuntu HTML5 Apps
 This package provides common CSS and Javascript for developing native-
 looking HTML5 applications for Ubuntu

Package: ubuntu-html5-ui-toolkit-examples
Architecture: all
Depends: libjs-jquery,
         liboxideqt-qmlplugin (>= 1.2.0),
         qmlscene,
         qtdeclarative5-qtquick2-plugin,
         ubuntu-html5-ui-toolkit (= ${binary:Version}),
         ${misc:Depends},
Replaces: ubuntu-html5-theme-examples (<< 0.1.1),
Conflicts: ubuntu-html5-theme-examples (<< 0.1.1),
Provides: ubuntu-html5-theme-examples,
Description: Examples for Toolkit for Ubuntu HTML5 Apps
 This package provides examples of native-looing HTML5 applications for Ubuntu
 based on the ubuntu-html5-ui-toolkit CSS and Javascript Ubuntu framework.

Package: ubuntu-html5-ui-toolkit-autopilot
Architecture: all
Depends: dpkg-dev,
         libautopilot-qt (>= 1.4),
         libjs-jquery,
         libqt5test5,
         liboxideqt-qmlplugin (>= 1.2.0),
         python-xlib,
         qmlscene,
         qtdeclarative5-qtquick2-plugin,
         ubuntu-html5-ui-toolkit (= ${binary:Version}),
         ubuntu-html5-ui-toolkit-examples (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
Replaces: ubuntu-html5-theme-autopilot (<< 0.1.1),
Conflicts: ubuntu-html5-theme-autopilot (<< 0.1.1),
Provides: ubuntu-html5-theme-autopilot,
Description: Autopilot tests for the Toolkit for Ubuntu HTML5 Apps
 Common CSS and Javascript for developing native-looking HTML5 applications
 for Ubuntu. This package contains autopilot tests for it.

Package: ubuntu-html5-container
Architecture: any
Multi-Arch: foreign
Depends: liboxideqt-qmlplugin (>= 1.2.0),
         qmlscene,
         qtdeclarative5-cordova-2.8-plugin,
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-ubuntu-ui-extras-browser-plugin,
         ubuntu-html5-ui-toolkit (= ${source:Version}),
         unity-webapps-qml (>= 0.1+14.04.20131106-0ubuntu2),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends},
Description: Ubuntu HTML5 QML container component for HTML5 touch apps.
 This package contains the Ubuntu HTML5 QML component used to embed HTML5
 apps at runtime.

Package: ubuntu-html5-container-autopilot
Architecture: all
Depends: libautopilot-qt (>= 1.4),
         libqt5test5,
         liboxideqt-qmlplugin (>= 1.2.0),
         qtdeclarative5-qtquick2-plugin,
         ubuntu-html5-container (>= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
Description: Autopilot tests for the Ubuntu HTML5 QML container component for HTML5 touch apps.
 This package contains the Ubuntu HTML5 QML component used to embed HTML5
 apps at runtime. This package contains the autopilot tests.

Package: ubuntu-html5-theme
Section: oldlibs
Architecture: all
Depends: ubuntu-html5-ui-toolkit,
         ${misc:Depends},
Description: Transitional package for theme/ui-toolkit rename.
 This can be safely removed.

Package: ubuntu-html5-theme-examples
Section: oldlibs
Architecture: all
Depends: ubuntu-html5-ui-toolkit-examples,
         ${misc:Depends},
Description: Transitional package for theme/ui-toolkit rename.
 This can be safely removed.

Package: ubuntu-html5-theme-autopilot
Section: oldlibs
Architecture: all
Depends: ubuntu-html5-ui-toolkit-autopilot,
         ${misc:Depends},
Description: Transitional package for theme/ui-toolkit rename.
 This can be safely removed.
