Source: ubuntu-html5-theme
Section: misc
Priority: optional
Maintainer: Michael Hall <mhall119@ubuntu.com>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.4
Homepage: https://launchpad.net/ubuntu-html5-theme
Vcs-Bzr: bzr+ssh://bazaar.launchpad.net/+branch/ubuntu-html5-theme/
Vcs-Browser: https://code.launchpad.net/~ubuntu-html5-theme-devs/ubuntu-html5-theme/ambiance

Package: ubuntu-html5-theme
Architecture: all
Depends: ${misc:Depends},
Description: Toolkit styles for Ubuntu HTML5 Apps
 This package provides common CSS and Javascript for developing native-
 looking HTML5 applications for Ubuntu

Package: ubuntu-html5-theme-examples
Architecture: all
Depends: ubuntu-html5-theme (= ${binary:Version}),
         ${misc:Depends},
Description: Examples for Toolkit styles for Ubuntu HTML5 Apps
 This package provides examples of native-looing HTML5 applications for Ubuntu
 based on the ubuntu-html5-theme CSS and Javascript Ubuntu framework.
