#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --fail-missing

override_dh_compress:
	dh_compress -X data.json -X favicon.ico

override_dh_install:
	dh_install --fail-missing
#	Transitional symlink because package was renamed.
	mkdir -p $(CURDIR)/debian/ubuntu-html5-ui-toolkit/usr/share/
	ln -vs /usr/share/ubuntu-html5-ui-toolkit \
	       $(CURDIR)/debian/ubuntu-html5-ui-toolkit/usr/share/ubuntu-html5-theme
