@import url("reset.css");
@import url("header.css");
@import url("tabs.css");
@import url("text-input.css");
@import url("progress-bars.css");
@import url("dialogs.css");
@import url("buttons.css");
@import url("sliders.css");
@import url("toggles.css");


body {
    background: #ededf0 url("../img/background_paper@30.png") repeat-x top left;
    font-family: Ubuntu;
}

h2 {
    border-bottom: 1px solid #888;
    color: #333;
    font-size: 36px;
    font-weight: normal;
    margin-top: 30px;
    padding-bottom: 5px;
}

h3 {
    color: #333;
    font-weight: normal;
    margin: 20px 0;
}

div.content {
    background: #ededf0 url("../img/background_paper@30.png") repeat-x top left;
    border-top: 1px solid #f0f0f0;
    height: auto;
    min-height: 200px;
    width: 100%;
}