/* ----------------------------------
 * Lists
 * ---------------------------------- */

[data-type="list"] {
    border-top: 1px solid #f0f0f0;
}

[data-type="list"] ul {
    list-style: none;
    overflow: hidden;
}

/* Title divisors */
[data-type="list"] header {
    border-bottom: 0.1rem solid #c9c9c9;
    line-height: 1.8rem;
    color: #787878;
    font-size: 0.9rem;
    padding-left: 1rem;
}

[data-type="list"] ul {
}

/* List items */
[data-type="list"] li {
    width: 100%;
    height: 3.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: solid 0.1rem #c7c7c7;
    color: #787878;
    display: block;
}

/* Pressed State */
[data-type="list"] li > a {
    text-decoration: none;
    color: #787878;
    display: block;
    height: 3.4rem;
    position: relative;
    border: none;
    outline: none;
    line-height: 3.4rem;
    padding-left: 1rem;
    border-top: 1px solid #ebebeb;
    font-size: 0.9rem;
}

[data-type="list"] li > a:after {
    content: "";
    background: transparent url(../img/chevron@18.png) no-repeat 0.5rem 0.5rem;
    background-size: 50% 50%;
    pointer-events: none;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    z-index: 0;
}

[data-type="list"] li > a:active {
    background: #e6e6e6;
    border-color: #ebebeb;
}

/* Text content */
[data-type="list"] li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    display: block;
    color: #787878;
    font-size: 0.9rem;
    padding-left: 1rem;
    margin-top: 8px;
    line-height: 19px;
}

[data-type="list"] li p:only-child,
[data-type="list"] li p:first-of-type:last-of-type {
    line-height: 3.5rem;
    font-size: 0.9rem;
    margin-top: 0;
}

[data-type="list"] aside {
    float: left;
    margin: -1.2em 0 0 0;
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
    position: relative;
    top: 50%;
    z-index: 100;
}

[data-type="list"] aside img {
    border-radius: 6px;
    margin-bottom: 0;
    display: inline-block;
    float: left;
}

[data-type="list"] aside:after {
    background: url(../img/ubuntushape_medium_radius_idle@18.png) no-repeat;
    background-size: 100% 100%;
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Checkable content */
[data-type="list"] li > label {
    pointer-events: none;
    z-index: 110;
    width: auto;
    height: auto;
    margin-right: 2.5rem;
    position: absolute;
    top: 50%;
    right: 10px;
}