/* ----------------------------------
 * Dialog
 * ---------------------------------- */

form[role="dialog"] {
    background: #000;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    font-size: 0;
    /* Using font-size: 0; we avoid the unwanted visual space (about 3px)
    created by white-spaces and break lines in the code betewen inline-block elements */
    color: #fff;
    text-align: center;
    height: 100%;
    display: none;
}

form[role="dialog"].active {
    display: block;
}

form[role="dialog"] > section {
    font-weight: lighter;
    font-size: 2.2rem;
    color: #FAFAFA;
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    /*overflow-y: scroll;*/
    vertical-align: middle;
    white-space: normal;
}

form[role="dialog"]:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0.1rem;
    height: 100%;
    margin-left: -0.1rem;
}

form[role="dialog"] h1 {
    font-size: large;
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 0 1.5rem;
}

form[role="dialog"] p {
    font-size: medium;
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

form[role="dialog"] menu {
    white-space: nowrap;
    margin: 0 auto;
    padding: 1.5rem;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 250px;
}

form[role="dialog"] menu button {
    display: block;
    width: 200px;
    margin-bottom: 10px;
    font-size: medium;
}


/* Tablet landscape / low resolution */
@media only screen and (min-width: 870px) and (max-width: 1170px){

    form[role="dialog"] {
        background: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }

    form[role="dialog"] > section {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        width: 350px;
        padding: 20px 0 0 0;
    }

}