/*
 * Copyright 2013 Canonical Ltd.
 *
 * This file is part of ubuntu-html5-theme.
 *
 * ubuntu-html5-theme is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 3.
 *
 * webbrowser-app is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* ----------------------------------
 * Lists
 * ---------------------------------- */

[data-type="indexbar-alphabet"] {
    pointer-events: auto;
    z-index: 2;
    min-height: 0;
    height: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    width: 1.1em;
    margin-right: 8px;
    padding: 0.3em 0;
    color: #155988;
}

[data-type="indexbar-alphabet"]> div {
    font-size: 0.6em;
    text-align: center;
    line-height: 1.1em;
    font-weight: bold;
    display: block;
}